/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body { padding-top: 90px; }


	#attach_content{width:450px; height:160px; border:1px solid #ccc;padding:10px;margin-top:10px;}
	#atc_images {width:60px;height:100px;overflow:hidden;float:left;}
	#atc_info {width:350px;float:left;height:100px;text-align:left; padding:10px;}
	#title {font-size:14px;font-weight: bold;display:block;}
	#atc_url {font-size:10px;display:block;}
	#atc_desc {font-size:12px;}
